debian/debhelper-build-stamp                                                                                                                                                                                                                                                                                         
debian/files                                                                                                                                                                                                                                                                                                         
debian/lernstick-xkb-data/ 
debian/lernstick-xkb-data.debhelper.log                                                                                                                                                                                                                                                                              
debian/lernstick-xkb-data.postinst.debhelper                                                                                                                                                                                                                                                                         
debian/lernstick-xkb-data.prerm.debhelper                                                                                                                                                                                                                                                                            
debian/lernstick-xkb-data.substvars                                                                                                                                                                                                                                                                                  
